/**
	general
**/
.theme-text {
	color: #689ad0;
}
body {
	width: 100%;
	margin: 0;
	background-color: #f3f3f3;
	background-attachment: fixed; 
}
a:hover {
	color: #689ad0;
	text-decoration: none;
}
h1, h2, h3 {
	font-family: Impact, "Trebuchet MS", Arial;
}
.section-layout{
	padding: 180px 10% 0 10%;
	width: 100%;
}
.section-detail-layout {
	padding: 30px 10% 20px 10%;
	width: 100%;
}
h4 {
	color: #777777;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	padding-top: .5em;
}
h3 {
	letter-spacing: .1em;
}


/**
	intro
**/
.intro {
	background: url('../img/bg.png');
	background-attachment: fixed; 
	background-repeat: all;
}
.intro img {
	width: 100%;
	height: auto;
}
.intro h2 {
	letter-spacing: 0.5em;
}

/*
works
*/
.work-item {
	/*margin-left: 0px;*/
    padding: 8px 13px;
    /*margin: 8px 13px;*/
}
.work-item a img{
	width: 100%;
}
.carousel-inner .item img{
	width: 100%;
}
.carousel {
    position: relative;
    padding: 8px 15px;
}
.carousel-control{
	font-size: 80px;
	top: 30%;
	text-shadow: 0 3px 9px rgba(0,0,0,0.6);
}
.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
.works p, .paintings p {
	color: #777777;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	font-weight: bold;
}
.intro h4>a, .paintings h4>a {
	text-decoration: underline;
}

.work-item img{
    width: 100%;
    vertical-align: middle;
}

.work-item .caption{
    background: #689ad0;
    position: absolute;
    display: block;
    width: 92%;
    height: 20%;
    bottom: 4%; 
    left: 4%;
    opacity: 1;
}

.work-item a:hover .caption{
    opacity: 1;
    height: 70%;
    background-color: rgba(104, 154, 208, 0.8);

    transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.work-item .caption .work_title{
    display: block;
    width: 100%;
    position: absolute;
}

.work-item .caption p{
    position: relative;
    max-width: 90%;
    z-index: 77;
    color: white;
    font-family: "raleway-regular", arial;
    font-size: 14px;
    letter-spacing: .5px;
    left: 5%;
    line-height: 18px;
    margin: 0;
}

.work-item .caption p:first-child{
	margin-top: 3%;
}
.work-item .caption p.item_describe{
	/*visibility: hidden;*/
	display: none;
	font-weight: normal;
}
.work-item a:hover .caption p.item_describe{
	/*visibility: visible;*/
	display: block;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
}

/**
gallery
**/
.gallery {
	margin-bottom: 60px;
}
.gallery a{
	padding: 5px;
}
.gallery a img {
	width: 100%;
}

/**
   contact
**/

.contact {
	margin-bottom: 60px;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: rgba(255,255,255,0);
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
 }
.contact-form .submit-btn {
  margin-top: 20px;
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
.contact-form .form-group textarea {
	height: 72px;
}

/**
    footer 
 **/

footer { 
	background-color: #FFF; 
	padding-top: 60px; 
	padding-bottom: 55px
}
footer ul { 
	padding: 0; 
	margin: 0; 
	text-align: center; 
	padding-bottom: 40px;
}
footer ul > li { 
	display: inline-block; 
	margin: 0 6.5px
}
footer ul > li > a { 
	display: block; 
	width: 42px; 
	height: 42px; 
	background-color: #bbbbbb; 
	color: #FFF; 
	line-height: 42px; 
	font-size: 20px; 
	border-radius: 100%; 
	text-align: center
}
footer ul > li:hover a { 
	background-color: #689ad0;
	color: #fff;  
}
footer .copy-right { 
	text-align: center; 
	display: block; 
	font-size: 12px; 
	line-height: 13px; 
	color: #9c9c9c
}



/**
	text
**/
p {
	font-size: 14px;
	line-height: 22px;
	color: #5a5d61;
}

/**
   header
**/

header {
	width: 100%;
	position: fixed;
	z-index: 10;
}
header .header-content {
	width: 100%;
	margin: 0 auto;
	padding: 55px 10%;
	/*smooth transition when change to fixed*/
	transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
}
header.fixed {
	background-color: rgba(255, 255, 255, .9);
}
header.fixed .header-content {
	border-bottom: 0;
	padding: 25px 10%;
}
header .logo {
	float: left;
}
header .nav-items {
	margin-top: 10px;
}
.nav-items li.active a{
	color: #689ad0;
	text-decoration: underline;
}
.navigation {
	float: right;
}
.navigation li {
	display: inline-block;
	font-weight: bold;
	letter-spacing: .1em;
}
.navigation, .navigation a {
	color: rgba(0, 0, 0, 1);
	font-size: 16px;
	margin-left: 40px;
}
.navigation a:hover, .navigation a.active {
	text-decoration: none;
	color: #689ad0;
}
.navigation a.active {
	text-decoration: underline;
}

.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 30;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
/*nav open on mobile*/
.navigation.open {
	margin: 0;
	padding: 0;
	visibility: visible;
	opacity: 0.9;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}
header.fixed .nav-toggle {
	top: 25px;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: #333;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: #000;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.nav-close:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.nav-close:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.nav-close span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.nav-close span:before, .nav-toggle.nav-close span:after {
	background-color: #fff;
}
.nav-toggle.nav-close span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.nav-close span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
