/* general */

.theme-text {
  color : #689ad0;
}

body {
  width                 : 100%;
  margin                : 0;
  background-color      : #fdfdfd;
  background-attachment : fixed;
  font-family           : 'Open Sans',
                          sans-serif,
                          Arial;
  font-weight: 200 !important;
}

a {
  text-decoration: underline;
  color: #689ad0;
}

a:hover {
  cursor: pointer;
}

a.disabled {
  cursor: default;
}

.section-layout {
  width   : 100%;
  padding : 180px 15% 0 15%;
}

.center {
  text-align : center;
}

.box {
   display: flex;
   align-items:center;
}


/* text * */

section li,
section p {
  /* margin      : .5em 0; */
  color       : #555;
  font-size   : 1.2em;
  line-height : 1.8em;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family : 'Archivo',
                'Nono Sans',
                Arial,
                sans-serif;
}

h4,
h5,
li {
  color       : #333;
  line-height : 1.5em;
}

h3 {
  line-height: 1.4em;
}
h4 {
  line-height: 1.3em;
}
h5 {
  font-size   : 1.1em;
  font-weight : bold;
  line-height: 1.2em;
}


h2.mainproblem {
  margin-top       : 1.5em;
  padding          : .5em 0;
  border           : 1px solid #0a0909;
  background-color : none;
  text-align       : center;
  letter-spacing   : .1em;
}

.highlight {
  background-color : #b9d8f0;
}

.notation {
  margin-bottom : 3em;
  padding-left  : 0.8em;
  border-left   : 3px solid #999;
  font-size     : 0.8em;
}

.white {
  color: #fff;
}
/* webkit, opera, IE9 */

p::selection {
  background : #b9d8f0;
}

/* mozilla firefox */

p::-moz-selection {
  background : #b9d8f0;
}

/* intro */
.hero-img {
  width: 100%;
}

.intro-text {
  z-index   : 10;
  position  : absolute;
  top       : 15%;
  left      : 10%;
  width     : 60%;
  margin    : 0 auto;
  padding   : 5%;
  /*border    : white 2px solid;*/
  /*transform : translateX(-50%) translateY(-50%);*/
}

.intro .bold, .intro-text .bold {
  font-weight: strong;
  font-size: 1.2em;
  /*color: #333;*/
}

.intro .underline, .intro-text .underline {
  text-decoration: underline;
  /*color: #333;*/
}

.intro p {
  line-height: 2.4em;
}

.intro-text h4{
  line-height: 1em;
}


/* works */
.width90 {
  width: 90%;
}
.width80 {
  width: 80%;
}
.grid {
  padding: 16px;
}
.work-item {
  padding : 0 !important;
  overflow: hidden;
}

.work-item img {
  width          : 100%;
  overflow: hidden;
  vertical-align : middle;
}

.work-item .caption {
  display    : inline-block;
  position   : absolute;
  left       : 2rem;
  width      : 90%;
  bottom : 2rem;
  background : none;
}

.work-item:hover img{
  transform: scale(1.1);
  overflow: hidden;
  -moz-transition    : all 0.5s;
  -o-transition      : all 0.5s;
  -webkit-transition : all 0.5s;
  transition         : all 0.5s;
}

.work-item .work-title p:first-child {
  margin-bottom : .8rem;
  font-size     : 1.8rem;
}

.work-item .caption .work-title {
  position : absolute;
  bottom   : 2rem;
  width    : 100%;
}

.work-item .caption .work-title p:last-child{
  display: none;
  opacity: 0;
}

.work-item:hover .caption .work-title p:last-child {
  margin-top: 2rem;
  display: block;
  opacity: 1;
  text-decoration: underline;
  -moz-transition    : all 0.8s ease-in-out;
  -o-transition      : all 0.8s ease-in-out;
  -webkit-transition : all 0.8s ease-in-out;
  transition         : all 0.8s ease-in-out;
}


.work-item .caption p {
  z-index        : 77;
  position       : relative;
  left           : 2rem;
  max-width      : 90%;
  margin         : 0;
  color          : white;
  font-family    : 'Archivo',
                   'Noto Sans',
                   Arial,
                   sans-serif;
  font-size      : 14px;
  line-height    : 20px;
}

.icfe .work-item img{
  background-color: #ea8a8c;
  border-radius: 4px;
}
.dslab .work-item img{
  background-color: #0b5279;
  border-radius: 4px;
}
.eatjoy .work-item img{
  background-color: #89c4c4;
  border-radius: 4px;
}
.ava .work-item img{
  background-color: #000;
  border-radius: 4px;
}
.ats .work-item img{
  background-color: #7C6B8D;
  border-radius: 4px;
}
.slidenote .work-item img{
  background-color: #EEC744;
  border-radius: 4px;
}
.its .work-item img{
  background-color: #485C8D;
  border-radius: 4px;
}
.graphic .work-item img{
  background-color: #eba05a;
  border-radius: 4px;
}


/* footer */

.main-footer {
  margin-top: 150px;
  padding-top: 20%;
  padding-bottom: 1%;
  padding-left: 15%;
  background-color: #FFF;
  background-image: url(../img/footer.png);
  background-size: 100% auto;
  width: 100%;
  height: auto;
  color: white;
  text-align: left !important;
}
.footer {
  text-align: center;
  padding-bottom: 2em;
}

.main-footer h4 {
  color: white;
  margin-bottom: 2rem;
}

.main-footer div {
  margin-bottom: 50px;
}
.main-footer div a {
  color: white;
  font-size: 1.3em;
  line-height: 1.5em;
  text-decoration: underline;
}
.main-footer div a:hover {
  color: #337ab7;
}
.footer ul {
  margin         : 0;
  padding        : 2em 0;
  /* padding-bottom : 40px; */
  /*text-align     : center;*/
}

.footer ul > li {
  display : inline-block;
  margin  : 0 6px 0 0;
}

.footer ul > li > a {
  display          : block;
  width            : 42px;
  height           : 42px;
  color            : #689ad0;
  border-radius    : 100%;
  background-color : #fff;
  text-align       : center;
  font-size        : 20px;
  line-height      : 42px;
}

.footer ul > li:hover a {
  color            : #fff;
  background-color : #689ad0;
}

.main-footer .copy-right {
  /* display     : block; */
  color       : #fff !important;
  text-align  : left !important;
  /* font-size   : 12px; */
  /* line-height : 13px; */
}

.footer .copy-right {
  display     : block;
  color       : #555;
  text-align  : center;
  font-size   : 12px;
  line-height : 13px;
}

/* header */

header {
  z-index  : 100;
  position : fixed;
  top: 0;
  width    : 100%;
  background-color : rgba(255, 255, 255, .3);
}

header .header-content {
  width              : 100%;
  margin             : 0 auto;
  padding            : 55px 10%;
  -moz-transition    : padding 0.3s;
  -o-transition      : padding 0.3s;
  -webkit-transition : padding 0.3s;
  transition         : padding 0.3s;
  /* smooth transition when change to fixed */
}

header.fixed {
  background-color : rgba(255, 255, 255, .8);
}

header.fixed .header-content {
  padding       : 25px 10%;
  border-bottom : 0;
}

header .logo {
  width  : 40px;
  height : 40px;
  float  : left;
}

/*header.fixed .logo svg .st0 {
  stroke : black;
}*/

header .nav-items {
  margin-top : 10px;
}

.nav-items li a {
  text-decoration: none;
}
.nav-items li.active a {
  color         : #689ad0;
  border-bottom : 2px solid #689ad0;
  /* text-decoration: underline; */
}

.navigation {
  float : right;
}

.navigation li {
  display        : inline-block;
  font-weight    : bold;
  letter-spacing : .1em;
}

header.fixed .navigation a {
  /*color : #000;*/
  color : #333;
}

.navigation,
.navigation a {
  margin-left : 40px;
  /*color       : #fff;*/
  color       : #333;
  font-family : 'Archivo',
                'Noto Sans',
                Arial,
                sans-serif;
  font-size   : 16px;
}

header .navigation li a:hover,
header .navigation li.active a {
  /* text-decoration: none; */
  color : #689ad0;
}

.nav-toggle {
  z-index            : 30;
  display            : none;
  position           : fixed;
  top                : 32px;
  right              : 5%;
  width              : 44px;
  height             : 44px;
  overflow           : hidden;
  text-indent        : 100%;
  white-space        : nowrap;
  -moz-transition    : all 0.3s;
  -o-transition      : all 0.3s;
  -webkit-transition : all 0.3s;
  transition         : all 0.3s;
}

/* nav open on mobile */

.navigation.open {
  visibility         : visible;
  margin             : 0;
  padding            : 0;
  opacity            : 0.9;
  -moz-transition    : opacity 0.5s;
  -o-transition      : opacity 0.5s;
  -webkit-transition : opacity 0.5s;
  transition         : opacity 0.5s;
}

.navigation.open a {
  color : #000;
}

header.fixed .nav-toggle {
  top : 25px;
}

.nav-toggle:after,
.nav-toggle:before {
  content           : "";
  position          : absolute;
  top               : 0;
  left              : 0;
  width             : 100%;
  height            : 100%;
  border-radius     : 50%;
  -moz-transform    : translateZ(0);
  -ms-transform     : translateZ(0);
  -webkit-transform : translateZ(0);
  transform         : translateZ(0);
}

.nav-toggle:before {
  background-color            : #333;
  -moz-transform              : scale(1);
  -ms-transform               : scale(1);
  -webkit-transform           : scale(1);
  transform                   : scale(1);
  -moz-transition-duration    : 0.3s;
  -o-transition-duration      : 0.3s;
  -webkit-transition-duration : 0.3s;
  transition-duration         : 0.3s;
}

.nav-toggle:after {
  background-color            : #000;
  -moz-transform              : scale(0);
  -ms-transform               : scale(0);
  -webkit-transform           : scale(0);
  transform                   : scale(0);
  -moz-transition-duration    : 0s;
  -o-transition-duration      : 0s;
  -webkit-transition-duration : 0s;
  transition-duration         : 0s;
}

.nav-toggle span {
  z-index           : 10;
  display           : inline-block;
  position          : absolute;
  top               : 50%;
  right             : auto;
  bottom            : auto;
  left              : 50%;
  width             : 18px;
  height            : 3px;
  background-color  : #fff;
  -moz-transform    : translateX(-50%) translateY(-50%);
  -ms-transform     : translateX(-50%) translateY(-50%);
  -webkit-transform : translateX(-50%) translateY(-50%);
  transform         : translateX(-50%) translateY(-50%);
}

.nav-toggle span:after,
.nav-toggle span:before {
  content           : "";
  position          : absolute;
  top               : 0;
  right             : 0;
  width             : 100%;
  height            : 100%;
  background-color  : #fff;
  -moz-transform    : translateZ(0);
  -ms-transform     : translateZ(0);
  -webkit-transform : translateZ(0);
  transform         : translateZ(0);
}

.nav-toggle span:before {
  -moz-transform    : translateY(-6px) rotate(0deg);
  -ms-transform     : translateY(-6px) rotate(0deg);
  -webkit-transform : translateY(-6px) rotate(0deg);
  transform         : translateY(-6px) rotate(0deg);
}

.nav-toggle span:after {
  -moz-transform    : translateY(6px) rotate(0deg);
  -ms-transform     : translateY(6px) rotate(0deg);
  -webkit-transform : translateY(6px) rotate(0deg);
  transform         : translateY(6px) rotate(0deg);
}

.nav-toggle.nav-close:before {
  -moz-transform    : scale(0);
  -ms-transform     : scale(0);
  -webkit-transform : scale(0);
  transform         : scale(0);
}

.nav-toggle.nav-close:after {
  -moz-transform    : scale(1);
  -ms-transform     : scale(1);
  -webkit-transform : scale(1);
  transform         : scale(1);
}

.nav-toggle.nav-close span {
  background-color : rgba(255, 255, 255, 0);
}

.nav-toggle.nav-close span:after,
.nav-toggle.nav-close span:before {
  background-color : #fff;
}

.nav-toggle.nav-close span:before {
  -moz-transform    : translateY(0) rotate(45deg);
  -ms-transform     : translateY(0) rotate(45deg);
  -webkit-transform : translateY(0) rotate(45deg);
  transform         : translateY(0) rotate(45deg);
}

.nav-toggle.nav-close span:after {
  -moz-transform    : translateY(0) rotate(-45deg);
  -ms-transform     : translateY(0) rotate(-45deg);
  -webkit-transform : translateY(0) rotate(-45deg);
  transform         : translateY(0) rotate(-45deg);
}




.carousel-control.right, .carousel-control.left {
  background-repeat: no-repeat !important;
  background-image: none !important;
}

.carousel-control {
  width: 10% !important;
  text-shadow: 0 5px 10px rgba(0,0,0,.6) !important;
  opacity: 1 !important;
}


/* slider */
.myslider ul{
	list-style: none outside none;
    padding-left: 0;
        margin: 0;
}
.myslider .item{
    margin-bottom: 60px;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.myslider{
	width: 100%;
}

a.lSNext, a.lSPrev {
background-color: #151414ad;
}

.lSSlideWrapper {
text-align: center;
}

.me img {
	padding: 0 !important;
}
