/*IPAD PRO*/
@media screen and (max-width: 1024px) {
}

/*IPAD*/
@media screen and (max-width: 768px) {
	.work-item {
		padding: 10px;
	}
	.work-item .caption {
        position: absolute;
    	height: 50%;
   		top: 50%;
    	left: 0%;
    }
	.work-item .caption .work-title {
		bottom: 16%;
	}
	header .header-content {
		width: 90%;
	}
	header .header-content {
		padding: 30px 0%;
	}
	header.fixed .header-content {
	    border-bottom: 0 none;
	    padding: 25px 0;
	}
	.nav-toggle {
		display: block;
	}
	.navigation {
		position: fixed;
		background-color: #fff;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 20;
		visibility: hidden;
		opacity: 0;
	}
	.navigation .nav-items {
		position: relative;
		top: 45%;
		-moz-transform: translateY(-45%);
		-ms-transform: translateY(-45%);
		-webkit-transform: translateY(-45%);
		transform: translateY(-45%);
	}
	.navigation.open .nav-items {
		padding: 0;
	}
	.navigation li {
		display: block;
		font-size: 25px;
			text-align: center;
		margin-bottom: 20px;
	}
	.navigation a {
		display: block;
		font-size: 25px;
		margin: 0;
		margin-left: 0px;
		text-align: center;
	}
	.navigation, .navigation a {
		margin-left: 0px;
	}
	.intro-text {
		width: 75%;
        	padding-top: 0;
        	padding-bottom: 0;
        	top:50%;
	}
}
@media screen and (max-width: 576px) {
	
}
@media screen and (max-width: 480px) {
	.section-layout {
		padding: 120px 10% 20px 10%;
	}
}
@media screen and (max-width: 320px) {
	.section-layout {
		padding: 100px 10% 20px 10%;
	}
}
