/* header * */

.work-detail header .logo svg .st0 {
  stroke : black;
}

.work-detail header .nav-items li a {
  color : black;
}

.work-detail header .nav-items li.active a {
  color : #689ad0;
}


.overview div div p {
  /*padding-left : 1em;*/
}

/* title & footer */

.work-detail-title a {
  padding-top : 12px;
  color       : black;
}

.work-detail-title a:hover {
  color              : #689ad0;
  -moz-transition    : all 0.5s;
  -o-transition      : all 0.5s;
  -webkit-transition : all 0.5s;
  transition         : all 0.5s;
}

.work-detail-footer {
  width: 100%;

  margin-top  : 15%;
  padding     : 2% 15%;
  background  : #85ABD7;
  text-align  : center;
  font-size   : 24px;
  font-weight : bold;
}

.work-detail-footer a {
  color     : #fff;
  font-size : .6em;
}

.work-detail-footer a:first-child {
  text-align : left;
}

.work-detail-footer a:last-child {
  text-align : right;
}


/* side nav*/
.side-nav {
  /*font-family: sans-serif;*/
  background: rgba(255,255,255,0.6);
  width: 155px !important;
  z-index: 80;
  position: fixed;
  padding-left: 20px !important;
}
.side-nav ul{
  padding: 10px !important;
}
.side-nav ul li{
  line-height: 2em !important;
  list-style-type: circle !important;
}

.side-nav ul li.active{
  list-style-type: disc !important;
}
.side-nav a{
  font-size: 0.9em !important;
  display: block;
  font-weight: 200;
  /*margin: 0 0.5em;*/
  color: #111;
  text-decoration: none;
}
.side-nav ul li.active a{
  font-weight:  bold;
  text-decoration: none;
  border-bottom: none;
  /*color: ;*/
}



.video-layout {
  text-align: center;
}
.video-text {
  padding-top: 2%;
}

.concept-overview .row{
  margin-top: 3em;
}

/* general * */

.work-detail h1 {
  font-size : 3em;
  /* letter-spacing: .1em; */
}

.work-detail h2 {
  color: #689ad0;
  font-weight: 600;
  
}
.work-detail h3 {
  /*padding-bottom: 1.5em;*/
  margin-bottom: 0;
}

.section-detail-layout {
  width   : 100%;
  padding : 56px 15%;
}

.work-detail .sub-title{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1.5em;
  font-weight: 500;
  color: #bbb;

}


.pics_in_a_row img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.pics_in_a_row {
  display: flex;
}

.img1 { flex: 0.75; }
.img2 { flex: 1; }
.img3 { flex: 1.25; }
.img4 { flex: 0.75; }



.section-overview {
  padding: 56px 6% 0 6% !important;
}

.section-overview img{
  width: 100%;
}

.section-detail-layout div img {
  max-width : 98%;
}

.work-detail .overview h4 {
  padding-left : 1em;
}

.work-detail-footer a:hover {
  text-decoration : underline;
}

.strong {
  /*font-size   : 1.2em;*/
  font-weight : 600;
  line-height: 2em; 
}

.captial {
  display   : block;
  position  : relative;
  float     : left;
  font-size : 2em;
}

/* AVA */

.work-detail.ava .inverse {
  background : black;
}

.work-detail.ava .inverse h3,
.work-detail.ava .inverse li,
.work-detail.ava .inverse p {
  color : white;
}

/* MGym */


.mgym .usertest div div div:last-child {
  margin-top : 1.5em;
}

.mgym .usertest div div div img {
  width : 49%;
}


.work-detail.mgym .inverse {
  color            : white !important;
  background-color : rgb(6, 47, 105);
}

.work-detail.mgym .inverse h3,
.work-detail.mgym .inverse p {
  color : white;
}

/* SlideNote */
.work-detail.slidenote .inverse {
  color            : #555;
  background-color : #fbd300;
}

/* its * */

.its .overview h4 {
  border-left : 5px #1d4587 solid;
}

.work-detail.its h3 {
  /**
  * background-color:
  *
  * #1d4587;
  */
  /**
  * border: 3px solid
  *
  * #1d4587;
  */
  color : #1d4587;
}

.work-detail.its .inverse {
  color            : white;
  background-color : #1d4587;
}

.work-detail.its .inverse h3,
.work-detail.its .inverse p {
  /**
  * background-color:
  *
  * #1d4587;
  */
  color : white;
}

.its .work-detail-footer {
  background-color : #1d4587;
}

.its video {
  width : 98%;
}

/* ecc-ats * */

.ats .overview h4 {
  border-left : 5px #253746 solid;
}

.work-detail.ats h3 {
  /**
  * background-color:
  *
  * #253746;
  */
  /**
  * border: 3px solid
  *
  * #253746;
  */
  color : #253746;
}

.ats .work-detail-footer {
  background-color : #253746;
}


.icfe .persona img {
  width: 80%;
}
